.patent-icon {
  color: rgba(100, 0, 0, 0.75);
  font-size: 1em;
  padding-right: 6px;
}

.dark .patent-icon {
  color: rgba(155, 255, 255, 0.75);
}

#pub-authors a {
  color: rgba(100, 0, 0, 0.75);
}

.dark #pub-authors a {
  color: rgba(155, 255, 255, 0.75);
}

.pub-authors {
  font-size: 1.5em;
  font-style: italic;
}
