{{ $count_pub := $.Scratch.Get "count_pub" }}

<div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
  <i class="far fa-lightbulb patent-icon" aria-hidden="true"></i>

  <a href="{{ .RelPermalink }}" itemprop="name">{{ .Title }}</a>.
  <p>
    <span style="font-style: italic;">
    {{ .Params.office | markdownify }}
    {{ .Params.deposit_number }}.
    </span>
  {{ if .Params.grant_date }}
    Granted: {{ dateFormat $.Site.Params.date_format .Params.grant_date }}
  {{else}}
    {{ if .Params.public_domain_date }}
      Publication: {{ dateFormat $.Site.Params.date_format .Params.public_domain_date }}
    {{else}}
      Deposit: {{ dateFormat $.Site.Params.date_format .Params.deposit_date }}
    {{end}}
  {{end}}
  {{ partial "page_links" (dict "content" . "is_list" 1) }}
  </p>
</div>
